#bber>section>ul>li>div .bber-info-time ,
#bber > section > ul > li > div .bber-info-address{
    color: var(--bywind-fontcolor);
    font-size: 0.7rem;
    background-color: var(--bywind-gray-op);
    padding: 0 8px;
    border-radius: 20px;
    cursor: default;
    display: flex;
    align-items: center;
}

#bber>section>ul>li>div .bber-info-time i ,
#bber > section > ul > li > div .bber-info-address i{
    margin-right: 8px;
    font-size: 16px;
}
#bber > section > ul > li > div .bber-info-address {
    margin-left: 0.5rem;
}
