body {
    -webkit-tap-highlight-color: transparent!important;
}
.layout > div:first-child:not(.recent-posts) {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -ms-flex-item-align: start;
    padding: 0.1px!important;
    border-radius: 8px;
    background: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.layout > div:first-child {
    width: 1400px !important;
}
@media screen and (max-width: 900px) {
    .layout > div:first-child {
        width: 100% !important;
    }
}
#aside-content {
    width: 30% !important;
}
.layout {
    max-width: 1430px!important;
}
.layout.hide-side1 {
    max-width: 1000px !important;
}
.hide-side1 {
    max-width: 1000px !important;
}
#hide-side1 {
    max-width: 1000px !important;
    background: none !important;
    box-shadow: none !important;
}
.hide-side {
    max-width: 1430px !important;
    background: none !important;
    box-shadow: none !important;
}
#hide-side {
    max-width: 1430px !important;
    background: none !important;
    box-shadow: none !important;
}
