#random {
    border-radius: 8px;
    font-family: ZhuZiAYuanJWD;
    background-size: cover;
    color: black!important;
    font-size: 44px;
    position: relative;
    border-radius: 8px;
    margin-bottom: .9rem;
    display: flex;
    width: 100%;
    height: 76%;
    background: var(--marcus-card-bg);
    margin-bottom: .5rem;
    border: var(--style-border);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: var(--marcus-shadow-border);
    flex-direction: column;
    overflow: hidden;
    transition: .3s;
    clip-path: inset(0 0 0 0 round 12px)
}
:root {
  --marcus-white: #fff;
  --marcus-white-op: rgba(255,255,255,0.2);
  --marcus-black: #000;
  --marcus-black-op: rgba(0,0,0,0.2);
  --marcus-none: rgba(0,0,0,0);
  --marcus-gray: #999;
  --marcus-gray-op: rgba(153,153,153,0.169);
  --marcus-vip: #e5a80d;
  --marcus-main: var(--marcus-theme);
  --marcus-main-op: var(--marcus-theme-op);
  --marcus-main-op-deep: var(--marcus-theme-op-deep);
  --marcus-main-none: var(--marcus-theme-none);
  --marcus-shadow-theme: 0 8px 12px -3px var(--marcus-theme-op);
  --marcus-shadow-blackdeep: 0 2px 16px -3px rgba(0,0,0,0.15);
  --marcus-shadow-main: 0 8px 12px -3px var(--marcus-main-op);
  --marcus-shadow-blue: 0 8px 12px -3px rgba(40,109,234,0.2);
  --marcus-shadow-white: 0 8px 12px -3px rgba(255,255,255,0.2);
  --marcus-shadow-black: 0 0 12px 4px rgba(0,0,0,0.05);
  --marcus-shadow-yellow: 0px 38px 77px -26px rgba(255,201,62,0.12);
  --marcus-shadow-red: 0 8px 12px -3px rgba(238,125,121,0.212);
  --marcus-shadow-green: 0 8px 12px -3px rgba(135,238,121,0.212);
  --marcus-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
  --marcus-snackbar-time: 5s;
}
::selection {
  background: var(--marcus-fontcolor);
  color: var(--marcus-background);
}
[data-theme=light] {
  --marcus-theme: #425aef;
  --marcus-theme-op: rgba(66,89,239,0.137);
  --marcus-theme-op-deep: rgba(66,89,239,0.867);
  --marcus-theme-none: rgba(66,89,239,0.004);
  --marcus-blue: #425aef;
  --marcus-red: #f04a63;
  --marcus-pink: #ff7c7c;
  --marcus-green: #57bd6a;
  --marcus-yellow: #c28b00;
  --marcus-yellow-op: rgba(217,156,0,0.102);
  --marcus-orange: #e38100;
  --marcus-fontcolor: #363636;
  --marcus-background: #f7f9fe;
  --marcus-reverse: #000;
  --marcus-maskbg: rgba(255,255,255,0.6);
  --marcus-maskbgdeep: rgba(255,255,255,0.85);
  --marcus-hovertext: var(--marcus-main);
  --marcus-ahoverbg: #f7f7fa;
  --marcus-lighttext: var(--marcus-main);
  --marcus-secondtext: rgba(60,60,67,0.8);
  --marcus-scrollbar: rgba(60,60,67,0.4);
  --marcus-card-btn-bg: #edf0f7;
  --marcus-post-blockquote-bg: #fafcff;
  --marcus-post-tabs-bg: #f2f5f8;
  --marcus-secondbg: #f1f3f8;
  --marcus-shadow-nav: 0 5px 12px -5px rgba(102,68,68,0.05);
  --marcus-card-bg: #fff;
  --marcus-card-bg-op: var(--marcus-black-op);
  --marcus-card-bg-none: rgba(255,255,255,0);
  --marcus-shadow-lightblack: 0 5px 12px -5px rgba(102,68,68,0);
  --marcus-shadow-light2black: 0 5px 12px -5px rgba(102,68,68,0);
  --marcus-card-border: #e3e8f7;
  --marcus-shadow-border: 0 8px 16px -4px rgba(44,45,48,0.047);
  --style-border: 1px solid var(--marcus-card-border);
  --style-border-always: 1px solid var(--marcus-card-border);
  --style-border-hover: 1px solid var(--marcus-main);
  --style-border-hover-always: 1px solid var(--marcus-main);
  --style-border-dashed: 1px dashed var(--marcus-theme-op);
  --style-border-forever: 2px solid var(--marcus-main);
}
[data-theme=dark] {
  --marcus-theme: #f2b94b;
  --marcus-theme-op: rgba(242,185,75,0.137);
  --marcus-theme-op-deep: rgba(242,185,75,0.867);
  --marcus-theme-none: rgba(242,185,75,0);
  --marcus-blue: #0084ff;
  --marcus-red: #ff3842;
  --marcus-pink: #d44040;
  --marcus-green: #3e9f50;
  --marcus-yellow: #ffc93e;
  --marcus-yellow-op: rgba(255,201,62,0.188);
  --marcus-orange: #ff953e;
  --marcus-fontcolor: #f7f7fa;
  --marcus-background: #18171d;
  --marcus-reverse: #fff;
  --marcus-maskbg: rgba(0,0,0,0.6);
  --marcus-maskbgdeep: rgba(0,0,0,0.85);
  --marcus-hovertext: #0a84ff;
  --marcus-ahoverbg: #fff;
  --marcus-lighttext: var(--marcus-theme);
  --marcus-secondtext: #a1a2b8;
  --marcus-scrollbar: rgba(200,200,223,0.4);
  --marcus-card-btn-bg: #30343f;
  --marcus-post-blockquote-bg: #000;
  --marcus-post-tabs-bg: #121212;
  --marcus-secondbg: #30343f;
  --marcus-shadow-nav: 0 5px 20px 0px rgba(28,28,28,0.4);
  --marcus-card-bg: #1d1e22;
  --marcus-card-bg-op: var(--marcus-white-op);
  --marcus-card-bg-none: rgba(29,27,38,0);
  --marcus-shadow-lightblack: 0 5px 12px -5px rgba(102,68,68,0);
  --marcus-shadow-light2black: 0 5px 12px -5px rgba(102,68,68,0);
  --marcus-card-border: #3d3d3f;
  --marcus-shadow-border: 0 8px 16px -4px rgba(0,0,0,0.314);
  --style-border: 1px solid var(--marcus-card-border);
  --style-border-always: 1px solid var(--marcus-card-border);
  --style-border-hover: 1px solid var(--marcus-theme);
  --style-border-hover-always: 1px solid var(--marcus-theme);
  --style-border-dashed: 1px dashed var(--marcus-theme-op);
  --style-border-forever: 2px solid var(--marcus-lighttext);
}
