.back-home-button:hover {
    background: var(--anzhiyu-main);
    color: var(--anzhiyu-white)!important
}

.back-home-button {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    width: 35px;
    height: 35px;
    padding: 0!important;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-right: 4px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    border-radius: 8px
}

.back-home-button:hover .back-menu-list-groups {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    top: 55px;
    pointer-events: auto;
    left: 0rem;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.back-home-button .back-menu-list-groups {
    position: absolute;
    top: 45px;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    left: 0rem;
    background-color: var(--anzhiyu-maskbgdeep);
    border-radius: 12px;
    border: var(--style-border);
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 12px;
    color: var(--anzhiyu-secondtext);
    -webkit-box-shadow: var(--anzhiyu-shadow-border);
    box-shadow: var(--anzhiyu-shadow-border);
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    -ms-transition: .1s;
    transition: .1s;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    pointer-events: none;
    backdrop-filter: blur(20px)
}

.back-home-button .back-menu-list-group {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.back-home-button .back-menu-list-group .back-menu-list-title {
    margin: 8px 0 0 16px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s
}

.back-home-button .back-menu-list {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 340px;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.back-home-button .back-menu-list::before {
    position: absolute;
    top: -24px;
    left: 0;
    width: 100%;
    height: 25px;
    content: "";
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    -ms-transition: 0s;
    transition: 0s
}

.back-home-button .back-menu-list-groups .back-menu-list-group:last-child .back-menu-list {
    margin: 0 0 8px
}

.back-home-button .back-menu-list-group:hover .back-menu-list-title {
    color: var(--anzhiyu-main)
}

.back-home-button .back-menu-list-groups:hover {
    border: var(--style-border-hover)
}

.back-home-button .back-menu-list .back-menu-item {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 4px 8px;
    padding: 4px 8px!important;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    width: 150px;
    border-radius: 8px!important;
    -webkit-transition: .2s!important;
    -moz-transition: .2s!important;
    -o-transition: .2s!important;
    -ms-transition: .2s!important;
    transition: .2s!important
}

.back-menu-list-groups .back-menu-list .back-menu-item .back-menu-item-text {
    font-size: var(--global-font-size);
    margin-left: .5rem;
    color: var(--anzhiyu-fontcolor);
    white-space: nowrap
}

@media screen and (max-width: 768px) {
    .back-menu-list-groups .back-menu-list .back-menu-item .back-menu-item-text {
        font-size:14px;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }
}

.back-menu-list-groups .back-menu-list .back-menu-item .back-menu-item-icon {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: var(--anzhiyu-secondbg)
}

.back-home-button {
    cursor: pointer;
    position: relative
}

.back-home-button {
    color: var(--light-grey)
}

.back-home-button {
    color: var(--font-color);
}

.back-home-button .back-menu-list .back-menu-item:hover .back-menu-item-text {
    color: var(--anzhiyu-white)
}

.back-menu-item-icon.loading img {
    width: 25px
}
#nav #blog_name {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  transition: 0.3s;
}